 .project{
  list-style: none;
  display: block;
  float:left;
  background-attachment: fixed;
  text-align:center;
  //   margin-left:20px;
  // margin-right:20px;
  // margin-bottom: 30px;

width:50%;

  }

  .project .image{
    width: "100%";
    height:"100px";;
    overflow: hidden;

  }

  .project img{
    width: 50%;
  }

  .project a{

text-decoration: none;


  }
